.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.query-form {
    padding: 5px 5px 0 5px;
    border: 1px solid #E4E4E4;
}

    .query-form input[type="text"], .query-form input[type="email"], .query-form textarea, .query-form select {
        color: #555;
        height: 30px;
        line-height: 15px;
        padding: 0 0 0 10px;
        margin: 2px 2px 2px 2px;
        border: 1px solid #E5E5E5;
        background: #FBFBFB;
        outline: 0;
    }

    .query-form select {
        background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0, #E9E9E9 100%);
        background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0,#FBFBFB), color-stop(100%,#E9E9E9));
        text-indent: 0.01px;
    }

.grid-list {
    padding: 5px 5px 0 5px;
}

    .grid-list table.table-master {
        width: 100%;
    }

        .grid-list table.table-master caption {
            background: #E6E6FA;
            padding: 5px 5px 5px 5px;
            font: 12px;
            border: 1px solid #E4E4E4;
        }

        .grid-list table.table-master tr:nth-child(odd) {
            background: #E6E6FA;
        }

        .grid-list table.table-master th {
            color: #fff;
            background-color: #2F4F4F;
            border-bottom: 1px solid #ccc;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .grid-list table.table-master td {
            border-bottom: 1px solid #ccc;
            padding: 3px 5px 3px 3px;
        }

.grid-nav {
    height: 36px;
    line-height: 32px;
    text-align: center;
}

.red-form {
    padding: 5px 5px 0 5px;
    border: 1px solid #E4E4E4;
}

    .red-form table.table-master {
        width: 100%;
    }

        .red-form table.table-master caption {
            background: #E6E6FA;
            padding: 5px 5px 5px 5px;
            font: 12px;
            border-bottom:3px solid #fff;
        }

        .red-form table.table-master tr {
            border-bottom:3px solid #fff;
        }

        .red-form table.table-master th {
            background-color: #F5F5DC;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .red-form table.table-master td {
            padding: 0 10px 0 0;
        }

    .red-form input[type="text"], .red-form input[type="email"], .red-form input[type="tel"], .red-form textarea, .red-form select {
        color: #555;
        height: 30px;
        line-height: 20px;
        font-size: 16px;
        width: 100%;
        padding: 0 0 0 5px;
        margin: 2px 2px 2px 2px;
        border: 1px solid #E5E5E5;
        background: #FBFBFB;
        outline: 0;
    }

    .red-form textarea {
        height: 100px;
        padding-top: 10px;
    }

    .red-form select {
        background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0, #E9E9E9 100%);
        background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0,#FBFBFB), color-stop(100%,#E9E9E9));
        text-indent: 0.01px;
    }

    .red-form input[type="text"].zip {
        width: 15%;
    }

    .red-form input[type="text"].address {
        width: 78%;
    }
    .red-form table.table-detail {
        width: 100%;
    }

        .red-form table.table-detail caption {
            background: #E6E6FA;
            padding: 5px 5px 5px 5px;
            font: 12px;
            border: 1px solid #E4E4E4;
        }

        .red-form table.table-detail tr:nth-child(odd) {
            background: #E6E6FA;
        }

        .red-form table.table-detail th {
            color: #fff;
            background-color: #2F4F4F;
            border-bottom: 1px solid #ccc;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .red-form table.table-detail td {
            border-bottom: 1px solid #ccc;
            padding: 2px 3px 2px 3px;
        }

.blue-form {
    width:100%;
    height:100%;
    position: absolute;
    left:0; top:0;
    background: rgba(0,0,0,0.3);
}

    .blue-form table {
        width: 100%;
        border: 1px solid #c5c2ff;
    }

        .blue-form table caption {
            background: #2F4F4F;
            font: 12px;
            color: #fff;
            padding: 3px 0 3px 0;
        }

        .blue-form table th {
            background-color: #F5F5DC;
            border-bottom: 3px solid #fff;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .blue-form table td {
            border-bottom: 3px solid #fff;
            padding: 0 10px 0 0;
        }

    .blue-form input[type="text"], .blue-form input[type="email"], .blue-form input[type="number"], .blue-form textarea, .blue-form select {
        color: #555;
        height: 30px;
        line-height: 20px;
        width: 100%;
        padding: 0 0 0 5px;
        margin: 2px 2px 2px 2px;
        border: 1px solid #E5E5E5;
        background: #FBFBFB;
        outline: 0;
        font-size: 16px;
    }

    .blue-form select {
        background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0, #E9E9E9 100%);
        background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0,#FBFBFB), color-stop(100%,#E9E9E9));
        text-indent: 0.01px;
    }

    .blue-form input[type="number"].dateText {
        width: 20%;
    }

.dialog-div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 480px;
    width: 720px;
    margin-top: -240px;
    margin-left: -360px;
    background-color: #fff;
}

    .dialog-div table.table-detail {
        width: 100%;
        border: 1px solid #A00200;
        background-color: #bdb5e6;
    }

        .dialog-div table.table-detail caption {
            background: #141b9c;
            padding: 5px 5px 5px 5px;
            font: 12px;
            color: #E4E4E4;
            border: 1px solid #E4E4E4;
        }

        .dialog-div table.table-detail th {
            color: #5c5a5a;
            background-color: #fff6b0;
            border-bottom: 1px solid #bab2b2;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .dialog-div table.table-detail td {
            color: #5c5a5a;
            background-color: #d4fffc;
            border-bottom: 1px solid #bab2b2;
            padding: 2px 3px 2px 3px;
        }

.dialog-div-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 360px;
    width: 680px;
    margin-top: -180px;
    margin-left: -340px;
    background-color: aliceblue;
}

    .dialog-div-sub table.table-detail {
        width: 100%;
        border: 1px solid #A00200;
        background-color: #bdb5e6;
    }

        .dialog-div-sub table.table-detail caption {
            background: #141b9c;
            padding: 5px 5px 5px 5px;
            font: 12px;
            color: #E4E4E4;
            border: 1px solid #E4E4E4;
        }

        .dialog-div-sub table.table-detail th {
            color: #5c5a5a;
            background-color: #fff6b0;
            border-bottom: 1px solid #bab2b2;
            text-align: left;
            padding: 3px 0 5px 5px;
        }

        .dialog-div-sub table.table-detail td {
            color: #5c5a5a;
            background-color: #d4fffc;
            border-bottom: 1px solid #bab2b2;
            padding: 2px 3px 2px 3px;
        }

.button-box {
    height: 30px;
    width: 60px;
}
