@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section IncludeScript{
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">*@
    @Scripts.Render("~/memberlabelCtr")
}
<form class="query-form" ng-submit="Init_Query()">
    <fieldset>
        <label>郵遞區號:</label>
        <select ng-model="sd.zipcode">
            <option value="320">中壢320</option>
            <option value="324">平鎮324</option>
            <option value="326">楊梅326</option>
            <option value="Other">其他未分</option>
        </select>
        <button type="submit">
            <i class="fa fa-search"></i>查詢
        </button>
        <button type="button" ng-click="DownLoadExcel_PostPrint()">
            <i class="fa fa-print"></i>產生郵寄標籤
        </button>
        <label class="text-center" style="color:red">備註：查詢出2016年訂單主檔的戶長資料，地址重覆會篩選掉。</label>
    </fieldset>
</form>
<div class="grid-list">
    <table class="table-master">
        <caption>郵寄標籤</caption>
        <tr>
            <th width="25%">姓名</th>
            <th width="25%">郵遞區號</th>
            <th width="50%">地址</th>
        </tr>
        <tr ng-repeat="gd in Grid_Items">
            <td>{{gd.householder}}</td>
            <td>{{gd.zip}}</td>
            <td>{{gd.address}}</td>
        </tr>
    </table>
    @Html.Partial("NavPage")
</div>
<iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>