@charset "utf-8";

/*      import layout.scss
 ********************************************************************* */
@import "sys_layout.scss";



/*      sys_index.scss
 ********************************************************************* */

/*      Basic
-----------------------------------------------------------------------*/



/*      Layout
-----------------------------------------------------------------------*/
#main {text-align:center;}


.logo {
  color:$gray;
  font-size:2em;
  
  img {
    display:block;
    width:auto; max-width:200px;
    height:auto; max-height:80px;
    margin:20px auto;
  }
  em {margin:0 5px; color:$brand-danger;}
}

.copyright {color:$gray-light; font-size:1.3em;}


/* form */
.admin {
  width:425px;
  margin:0 auto;
  text-align:left;
  background:#f7f7f7;
  border:6px solid #ddd;
}

.login {
  @extend .form-horizontal;
  padding:35px 35px 15px 35px;
  
  legend {display:none;}
  
  h3 {
    margin:0 0 20px 0;
    padding-bottom:10px;
    font-size:1.4em;
    border-bottom:1px solid #D5E3EF;
    
    i[class*="fa"] {margin-right:5px; color:#69AA46;}
  }
  
  & > p {
    @extend .form-group;
    margin:0 0 10px 0;
    
    & > input,
    & > select,
    & > span.outer > input,
    & > span.outer > select {
      padding:6px;
      border:1px solid #d5d5d5;
      box-shadow:none;
      
      &:hover {border-color:#b5b5b5;}
      &:active, &:focus {border-color:#F59942; outline:none; outline-offset:none;}
    }
    
    &.send {
      margin:15px 0 0 0;
      
      span {padding:0; line-height:33px;}
    }
    
  }

}

.link {
  padding:12px;
  background:#5090C1;
  border-top:2px solid #597597;
  
  a:hover, a:active, a:focus {text-decoration:underline;}
  .forgot {float:left; color:#FFEE99; }
  .register {float:right; color:#CCFF77;}
}