@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        本系統無法在(含)IE 8.0及其以下之版本執行，
        如您是用XP作業系統請安裝Google Chrome或FireFox等瀏覽器執行。
    </div>
</body>
</html>
