@charset "utf-8";

/*      layout
-----------------------------------------------------------------------*/
#container {
    text-align:left;    
    width:994px; height:100%;
    margin:auto; *margin:0;
    position:relative;

    }
body>#container {
    height:auto;
    min-height: 100%;
    }
#header, #main ,#footer{
    position:relative;
}
#header {
    height:387px;
}

#main {
	background:url(../../images/content.png) no-repeat 0 0;
    min-height: 317px;
    padding:75px 55px 317px 55px;
    overflow:hidden;
    z-index:2;
    }

#footer { 
    background:url(../../images/footerBg.jpg) no-repeat center top;
    text-align: left;
    clear: both;
    width:100%;
    height:182px;
    padding: 50px 0 0 0;
    letter-spacing: 0.8px;
    margin-top:-232px;
	overflow:hidden;
    z-index: 3;
    }


/*      header
-----------------------------------------------------------------------*/
/* logo */
h1 {
    background: url('../../images/logo.png') no-repeat 0 0;
    text-indent:-9999px;
    width:411px; height:229px;
    position:absolute;
    top:40px;
    cursor:pointer; cursor:hand;
    }

#banner{
	background:url(../../images/banner.png) no-repeat;
    width:556px;
    height: 437px;
    position: absolute;
    display: block;
    float:center;
    top:-15px;
    left:470px;
    z-index:3;

}

/* 主選單 */
#menu {
    width:100%;
    position:absolute;
    top:293px;
    left:0;
    z-index: 4;
}
#menu li {
    display: inline;
    float: left;
    margin-right:-15px;
}
#menu li a {
    display: block;
    width:122px;
    height:83px;
    text-indent: -9999px;
    background: url('../../images/menu.png') no-repeat 0 0;
}
#menu li a:hover {
    background: url('../../images/menu2.png') no-repeat 0 0;
}
#menu li a.nav2 {
    background-position: -143px 0;
}
#menu li a.nav3 {
    background-position: -288px 0;
}
#menu li a.nav4 {
    background-position: -437px 0;
}
#menu li a.nav5 {
    background-position: -581px 0;
}
#menu li a.nav6 {
    background-position: -726px 0;
}
#menu li a.nav7 {
    background-position: -870px 0;
}
.Index #menu li a.nav1 {
    background: url('../../images/menu2.png') no-repeat 0 0;
}
.Act #menu li a.nav2 {
    background: url('../../images/menu2.png') no-repeat -143px 0;
}
.Process #menu li a.nav3 {
    background: url('../../images/menu2.png') no-repeat -288px 0;
}
.Apply #menu li a.nav4 {
    background: url('../../images/menu2.png') no-repeat -437px 0;
}
.Download #menu li a.nav5 {
    background: url('../../images/menu2.png') no-repeat -581px 0;
}
.Answers #menu li a.nav6 {
    background: url('../../images/menu2.png') no-repeat -726px 0;
}
.Link #menu li a.nav7 {
    background: url('../../images/menu2.png') no-repeat -870px 0;
}


/*      footer
-----------------------------------------------------------------------*/
.copyright {
    margin:0;
    padding: 0;
    line-height: 180%;
    background: none;
}

 #footer li{
    line-height: 180%;
 }   
#footer .wrap{
    width:860px;
    margin:0 auto;
    padding:0 67px;
 }
 .accessibility,
 .qr {
    display: block;
    float:left;
 }
  .accessibility {
    margin-top:22px;
  }
 .qr {
    margin:10px 0 0 360px;
 }
