@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section IncludeScript{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script>
        var userid = '@ViewBag.ID';
    </script>
    @Scripts.Render("~/batchCountCtr")
}
<div ui-view></div>
<script type="text/ng-template" id="dataGrid">
    <form class="query-form" ng-submit="Init_Query()">
        <fieldset>
            <label>法會年度： </label>
            <select ng-model="sd.year" ng-options="m as (m+'年') for m in year_list"></select>
            <label>訂單日期： 起</label>
            <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="sd.startDate" is-open="openedStart" datepicker-options="dateOptions" @*date-disabled="disabled(date, mode)"*@ close-text="Close" ng-click="openStart($event)" />
            <label>迄</label>
            <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="sd.endDate" is-open="openedEnd" datepicker-options="dateOptions" @*date-disabled="disabled(date, mode)"*@ close-text="Close" ng-click="openEnd($event)" />
            <br />
            <label>法會梯次： </label>
            <select ng-model="sd.assembly_batch_sn" ng-options="m.batch_sn as (m.batch_title+'('+(m.batch_date | date:'yyyyMMdd')+(m.batch_timeperiod |  OptionStr:timeperiod_list)+')'+'__'+m.count) for m in bath_list">
                <option value="">全部</option>
            </select>
            <label>產品種類： </label>
            <select ng-model="sd.product_sn" ng-options="m.value as m.label for m in batch_prod"></select>
            <label>訂單編號</label>
            <input type="text" ng-model="sd.orders_sn" />
            <button type="submit">
                <i class="fa fa-search"></i>查詢
            </button>
        </fieldset>
        <fieldset>
            <button type="button" ng-click="DownLoadExcel_BatchRollPrint()">
                <i class="fa fa-print"></i>名冊
            </button>
            <button type="button" ng-click="DownLoadExcel_BatchAllRollPrint()">
                <i class="fa fa-print"></i>總名冊
            </button>
            <button type="button" ng-click="DownLoadExcel_PaperMoneyShuWenPrint()">
                <i class="fa fa-print"></i>金紙疏文
            </button>
            <button type="button" ng-click="DownLoadExcel_DieWenPrint()">
                <i class="fa fa-print"></i>牒文
            </button>
            <button type="button" ng-click="DownLoadExcel_ShuWenPrint()">
                <i class="fa fa-print"></i>個別、歷代祖先 疏文
            </button>
            <label class="text-center" style="color:red">備註：總名冊 Excel依祈福燈位排序;名冊、金紙疏文、牒文、個別歷代祖先疏文 Excel依訂單日期排序。</label>
        </fieldset>

    </form>
    <div class="grid-list">
        <table class="table-master">
            <tr>
                <th width="8%">梯次</th>
                <th width="8%">梯次時間_國</th>
                <th width="5%">梯次時段</th>
                <th width="10%">梯次時間_農</th>
                <th width="10%">訂單編號</th>
                <th width="12%">產品名稱</th>
                <th width="10%">申請人</th>
                <th width="15%">申請人地址</th>
                <th width="5%">換梯次</th>
            </tr>
            <tr ng-repeat="gd in Grid_Items">
                <td>{{gd.batch_title}}</td>
                <td>{{gd.batch_date | date:'yyyy-MM-dd'}}</td>
                <td>{{gd.batch_timeperiod | OptionStr:timeperiod_list}}</td>
                <td>{{gd.lunar_y+'/'+gd.lunar_m+'/'+gd.lunar_d}}</td>
                <td>{{gd.orders_sn}}</td>
                <td>{{gd.product_name}}</td>
                <td>{{gd.member_name}}</td>
                <td>{{gd.address}}</td>
                <td class="text-center">
                    <button type="button" ng-click="Master_Open_ChgBatch($index)"
                            title="換梯次">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
            </tr>
        </table>
        @Html.Partial("NavPage")
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>

<script type="text/ng-template" id="dataChgBatch">
    <!-- 編輯畫面-->
    <h4 class="text-center">法會梯次替換 訂單編號{{orders_sn}}<button type="button" ng-click="goGrid()">回表列</button></h4>
    <div class="red-form">
        <table class="table-master">
            <tr>
                <th width="25%">祈福姓名</th>
                <td width="25%">{{order_data.dtl.member_name}}</td>
                <th width="25%">祈福產品</th>
                <td width="25%">{{order_data.dtl.product_name}}</td>
            </tr>
            <tr>
                <th>祈福性別</th>
                <td>{{order_data.dtl.gender==2?"女":"男"}}</td>
                <th>單價</th>
                <td>{{order_data.dtl.price}}</td>
            </tr>
            <tr>
                <th>祈福地址</th>
                <td colspan="3">{{order_data.dtl.address}}</td>
            </tr>
        </table>
        <hr />
        <form id="upBatch" ng-submit="submitData()">
            <div style="margin: 0 auto;text-align: center;display:flex;align-items: center;justify-content:  center;">
                <div style="display:inline-block;width:45%;">
                    <table class="table-master">
                        <caption>
                            原本梯次
                        </caption>
                        <tr>
                            <th>點燈位置</th>
                            <td>{{order_data.dtl.light_name}}</td>
                            <th>超渡梯次</th>
                            <td>{{order_data.dtl.batch_title}}</td>
                        </tr>
                        <tr>
                            <th>超渡_往者名</th>
                            <td>{{order_data.dtl.departed_name}}</td>
                            <th>超渡_嬰靈數量</th>
                            <td>{{order_data.dtl.departed_qty}}</td>
                        </tr>
                        <tr>
                            <th>超渡_牌位地址</th>
                            <td colspan="3">
                                <span ng-show="order_data.dtl.product_sn==1401 || order_data.dtl.product_sn==1402">
                                    {{order_data.dtl.departed_address}}
                                </span>
                                <span ng-show="order_data.dtl.product_sn==1403 || order_data.dtl.product_sn==1404" style="color:orangered">冤親、嬰靈 地址用祈福地址</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="display:inline-block;width:5%;">
                    ➨
                </div>

                <div style="display:inline-block;width:45%;">
                    <table class="table-master">
                        <caption>
                            替換梯次
                        </caption>
                        <tr>
                            <th>點燈位置</th>
                            <td></td>
                            <th>超渡梯次</th>
                            <td>
                                <select ng-model="upData.up_batch_sn" ng-disabled="order_data.y!=allowYear" ng-options="m.batch_sn as (m.batch_title+'('+(m.batch_date | date:'yyyyMMdd')+(m.batch_timeperiod |  OptionStr:timeperiod_list)+')'+'__'+m.count) for m in bath_list"></select>
                            </td>
                        </tr>
                        <tr>
                            <th>超渡_往者名</th>
                            <td>{{order_data.dtl.departed_name}}</td>
                            <th>超渡_嬰靈數量</th>
                            <td>{{order_data.dtl.departed_qty}}</td>
                        </tr>
                        <tr>
                            <th>超渡_牌位地址</th>
                            <td colspan="3">
                                <span ng-show="order_data.dtl.product_sn==1401 || order_data.dtl.product_sn==1402">
                                    {{order_data.dtl.departed_address}}
                                </span>
                                <span ng-show="order_data.dtl.product_sn==1403 || order_data.dtl.product_sn==1404" style="color:orangered">冤親、嬰靈 地址用祈福地址</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <div style="text-align:center">
        <button type="submit" form="upBatch">確認變更梯次</button>
    </div>
</script>