@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section IncludeScript{
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script>
        var userid = '@ViewBag.ID';
    </script>
    @Scripts.Render("~/batchChgCtr")
}
<div ui-view></div>
<script type="text/ng-template" id="dataGrid">
    <form class="query-form" ng-submit="Init_Query()">
        <fieldset>
            <label>法會年度： </label>
            <select ng-model="sd.year" ng-options="m as (m+'年') for m in year_list"></select>
            <label>訂單日期： 起</label>
            <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="sd.startDate" is-open="openedStart" datepicker-options="dateOptions" @*date-disabled="disabled(date, mode)"*@ close-text="Close" ng-click="openStart($event)" />
            <label>迄</label>
            <input type="text" datepicker-popup="yyyy/MM/dd" ng-model="sd.endDate" is-open="openedEnd" datepicker-options="dateOptions" @*date-disabled="disabled(date, mode)"*@ close-text="Close" ng-click="openEnd($event)" />
            <br />
            <label>產品種類： </label>
            <select ng-model="sd.product_sn" ng-options="m.value as m.label for m in batch_prod"></select>
            <label>訂單編號</label>
            <input type="text" ng-model="sd.orders_sn" />
            <button type="submit">
                <i class="fa fa-search"></i>查詢
            </button>
        </fieldset>
        <fieldset>
            <button type="button" ng-click="DownLoadExcel_BatchChgPrint()">
                <i class="fa fa-print"></i>梯次替換紀錄清單
            </button>
        </fieldset>
    </form>
    <div class="grid-list">
        <table class="table-master">
            <tr>
                <th width="8%">訂單編號</th>
                <th width="8%">申請人</th>
                <th width="8%">產品名稱</th>
               <th width="10%">原來梯次</th>
                <th width="10%">原來位置</th>
                <th width="10%">新梯次</th>
                <th width="10%">新位置</th>
                <th width="8%">超渡_往者名</th>
                <th width="17%">超渡_牌位地址</th>
                <th width="8%">超渡_嬰靈數量</th>
                
            </tr>
            <tr ng-repeat="gd in Grid_Items">
                <td>{{gd.orders_sn}}</td>
                <td>{{gd.member_name}}</td>
                <td>{{gd.product_sn | OptionStr:batch_prod}}</td>
                <td>{{gd.old_batch_sn | OptionStr:batch_slist}}</td>
                <td>{{gd.old_light_name }}</td>
                <td>{{gd.new_batch_sn | OptionStr:batch_slist}}</td>
                <td>{{gd.new_light_name}}</td>
                <td>{{gd.departed_name}}</td>
                <td>{{gd.departed_address}}</td>
                <td>{{gd.departed_qty}}</td>
                @*<td>{{gd.C_InsertDateTime | date:'yyyy-MM-dd'}}</td>*@
            </tr>
        </table>
        @Html.Partial("NavPage")
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>