@using DotWeb.CommSetup
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var qMemberId = Request.QueryString["member_id"];
    int member_id = string.IsNullOrEmpty(qMemberId) ? 0 : int.Parse(qMemberId);
}
@section IncludeScript{
    @*<link href="~/Scripts/angularjs/ng-sortable.css" rel="stylesheet" />*@
    <style>
        /*input[disabled], input[disabled]:hover {
            background-color: lightgray;
        }*/
        input[type="text"]:disabled {
            background-color: darkgray;
        }
    </style>
    @Scripts.Render("~/orderCtr")
    <script>
        var member_id = @member_id;
    </script>
}
<div ui-view></div>

<script type="text/ng-template" id="dataGrid">
    <form class="query-form" ng-submit="Init_Query()">
        <fieldset>
            <label>承辦人</label>
            <select ng-model="sd.InsertUserId" ng-options="m.users_id as m.users_name for m in users"></select>
            <label>訂單類別</label>
            <select ng-model="sd.order_type" ng-options="m.value as m.label for m in orders_type"></select>
            <label>訂單編號</label>
            <input type="text" ng-model="sd.order_sn" />
            <label>戶長姓名</label>
            <input type="text" ng-model="sd.member_name" />
            <button type="submit">
                <i class="fa fa-search"></i>查詢
            </button>
        </fieldset>
    </form>
    <div class="grid-list">
        <table class="table-master">
            <caption>訂單管理</caption>
            <tr>
                <th width="5%" class="col-xs-1 text-center">修改</th>
                <th width="10%">訂單編號</th>
                <th width="20%">戶長姓名</th>
                <th width="10%">電話</th>
                <th width="15%">訂單總額</th>
                <th width="20%">訂購時間</th>
                <th width="10%">承辦人</th>
                <th width="10%">狀態</th>
            </tr>
            <tr ng-repeat="gd in Grid_Items">
                <td class="text-center">
                    <button type="submit" ng-click="openOrders(gd.orders_sn,gd.orders_type)"
                            title="@Resources.Res.Button_Sure_Modify"
                            ng-disabled="gd.orders_state==3">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
                <td>{{gd.orders_sn}}</td>
                <td>{{gd.member_name}}</td>
                <td>{{gd.tel}}</td>
                <td>{{gd.total}}</td>
                <td>{{gd.transation_date|date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{gd.InsertUserName}}</td>
                <td>{{gd.orders_state}}</td>
            </tr>
        </table>
        @Html.Partial("NavPage")
    </div>
</script>
<script type="text/ng-template" id="dataEdit">
    <!--一般訂單 香油錢 燈位 保運等-->
    <!-- 編輯畫面-->
    <form ng-submit="SubmitOrder()" class="red-form">
        <table class="table-master">
            <caption>
                戶長資料填寫
                <button type="button" ng-click="GoGrid()">回訂單表列</button>
                (有修改必需先確認存檔)
            </caption>
            <tr>
                <th>申請人姓名</th>
                <td>
                    <input type="text" maxlength="20" placeholder="請填寫戶長姓名" required ng-model="fd.member_name" />
                </td>
                <th>申請人性別</th>
                <td>
                    <input type="radio" ng-model="fd.gender" value="男" />先生
                    <input type="radio" ng-model="fd.gender" value="女" />小姐
                </td>
            </tr>
            <tr>
                <th>申請人地址</th>
                <td colspan="3">
                    <input type="text" maxlength="5" size="5" ng-model="fd.zip" class="zip" required>
                    <input type="text" maxlength="128" ng-model="fd.address" class="address" required />
                </td>
            </tr>
            <tr>
                <th>申請人手機</th>
                <td>
                    <input type="text" maxlength="16" ng-model="fd.mobile" />

                </td>
                <th>申請人電話</th>
                <td>
                    <input type="text" maxlength="16" ng-model="fd.tel" />
                </td>
            </tr>
        </table>
        <div ui-view></div>
    </form>

</script>

<script type="text/ng-template" id="dataEditGeneralOrders">
    <table class="table-detail">
        <caption>
            訂單明細資料填寫
            <button type="button" ng-click="ShowEditAddProduct()">新 增 明 細</button>
            <input type="checkbox"
                   ng-model="fd.is_light_serial" ng-true-value="true" ng-false-value="false">
            使用連續配位
            <button type="submit">確　　認</button>
            <button type="button" ng-click="DownLoadExcel_Thanks()" ng-disabled="edit_type!=2">列印感謝狀</button>
        </caption>
        <thead>
            <tr>
                <th>會員</th>
                <th>產品</th>
                <th>單價</th>
                <th>白米(斤)</th>
                <th>金牌(面)</th>
                <th>檢視</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fd.Item">
                <td>{{item.member_name}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.race}}</td>
                <td>{{item.gold}}</td>
                <td>
                    <button type="button"
                            ng-click="ShowEditViewProduct(item.member_detail_id,item.product_sn)">
                        檢視
                    </button>
                </td>
                <td>
                    <button type="button"
                            ng-click="RemoveCart(item.member_detail_id,item.product_sn)"
                            ng-disabled="item.isOnOrder && allowReject==0 && isTodayOrder==false">
                        刪除
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">總計</td>
                <td>{{fd.total}}</td>
                <td>{{fd.race}}斤</td>
                <td>{{fd.gold}}面</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="7" style="color:red;text-align:center; margin:0 auto;"><strong>訂單資料隔日後要刪除及退款統一經由會計處理，請香客找會計人員．</strong></td>
            </tr>
        </tfoot>
    </table>
    <!-- 子板面 產品明細維護-->
    <div name="frmCar" class="blue-form ng-hide" ng-show="isShowEditProduct">
        <div class="dialog-div">
            <table>
                <caption>
                    資料編輯
                    <button type="button" ng-click="SubmitCart()" ng-disabled="isViewWorking">新　增</button>
                    <button type="button" ng-click="CloseEditProduct()">關　閉</button>
                    <button type="button" ng-click="ShowOrderDetail()">查 去 年</button>
                </caption>
                <tr>
                    <th>
                        祈福姓名
                    </th>
                    <td>
                        <select ng-model="cart.member_detail_id"
                                ng-options="m.member_detail_id as m.member_name for m in mb.getMember_Detail" required></select>
                    </td>
                    <th>
                        祈福種類
                    </th>
                    <td>
                        <select ng-model="cart.product_sn"
                                ng-options="m.product_sn as m.product_name for m in pds" required></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福性別
                    </th>
                    <td>
                        男<input type="radio" ng-model="cart.gender" value="1" />
                        女<input type="radio" ng-model="cart.gender" value="2" />
                    </td>
                    <th>
                        單價
                    </th>
                    <td>
                        <input type="number"
                               ng-model="cart.price"
                               min="0"
                               required
                               ng-disabled="cart_price_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        農曆生日
                    </th>
                    <td colspan="3">
                        <input type="number" max="120" min="-50" ng-model="cart.LY" class="dateText" />年
                        <input type="number" max="12" min="1" ng-model="cart.LM" class="dateText" />月
                        <input type="number" max="31" min="1" ng-model="cart.LD" class="dateText" />日
                    </td>
                </tr>
                <tr>
                    <th>
                        出生時辰
                    </th>
                    <td>
                        <select ng-model="cart.born_time" ng-options="m.value as m.label for m in born_time"></select>
                    </td>
                    <th>
                        生肖
                    </th>
                    <td>
                        <select ng-model="cart.born_sign" ng-options="m as m + ' ' for m in born_sign"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福地址
                    </th>
                    <td colspan="3">
                        <input type="text" ng-model="cart.address" maxlength="64" />
                    </td>
                </tr>
                <tr>
                    <th>
                        電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.tel" maxlength="16" />
                    </td>
                    <th>
                        行動電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.mobile" maxlength="16" />
                    </td>
                </tr>
                <tr>
                    <th>
                        捐白米
                    </th>
                    <td>
                        <input type="number" placeholder="(斤)" min="0" ng-model="cart.race" ng-disabled="cart_race_disable" />
                    </td>
                    <th>
                        捐金牌
                    </th>
                    <td>
                        <input type="number" placeholder="(面)" min="0" ng-model="cart.gold" ng-disabled="cart_gold_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        點燈位置
                    </th>
                    <td>
                        {{cart.light_name}}
                    </td>
                    <th>
                        文疏梯次
                    </th>
                    <td>
                        <select ng-model="cart.manjushri"
                                ng-options="m.manjushri_id as m.set_date | date:'yyyy-MM-dd' for m in mjs"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        入會日期
                    </th>
                    <td colspan="3">
                        {{cart.join_date}}
                    </td>
                </tr>
                <tr ng-show="allowSetAssembly.indexOf(product_category) >= 0">
                    <th>
                        超渡_往者名
                    </th>
                    <td>
                        <input type="text" ng-model="cart.departed_name" maxlength="64" />
                    </td>
                    <th>
                        超渡梯次
                    </th>
                    <td>
                        <select ng-model="cart.assembly_batch_sn" ng-disabled="cart.y!=allowYear"
                                ng-options="m.batch_sn as (m.batch_title+'('+(m.batch_date | date:'yyyy-MM-dd')+(m.batch_timeperiod |  OptionStr:timeperiod_list)+')') for m in Abath_List"></select>
                    </td>
                </tr>
                <tr ng-show="allowSetAssembly.indexOf(product_category) >= 0">
                    <th>
                        超渡_牌位地址
                    </th>
                    <td colspan="{{cart.product_sn==1404 ? 1:3}}">
                        <span ng-show="cart.product_sn==1401 || cart.product_sn==1402">
                            <input type="text" ng-model="cart.departed_address" maxlength="256" />
                        </span>
                        <span ng-show="cart.product_sn==1403 || cart.product_sn==1404" style="color:orangered">冤親、嬰靈 地址用祈福地址</span>
                    </td>
                    <th ng-show="cart.product_sn==1404">
                        超渡_嬰靈數量
                    </th>
                    <td ng-show="cart.product_sn==1404">
                        <input type="text" ng-model="cart.departed_qty" maxlength="16" />
                    </td>
                </tr>
                <tr>
                    <th>去年點燈種類</th>
                    <td colspan="3">
                        <table class="table-detail">
                            <thead>
                                <tr>
                                    <th>產品</th>
                                    <th>點燈位置</th>
                                    <th>單價</th>
                                    <th>購買日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order_detail">
                                    <td>{{item.product_name}}</td>
                                    <td>{{item.light_name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.i_InsertDateTime | date: 'y/MM/dd a hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>
<script type="text/ng-template" id="dataEditFortuneOrders">
    <table class="table-detail">
        <caption>
            選擇家庭成員最多12位
            <button type="submit">確　　認</button>
            <button type="button" ng-disabled="edit_type!=2" ng-click="DeleteOrderFourtune()" ng-disabled="allowReject==0">刪除訂單</button>
            <button type="button" ng-click="DownLoadExcel_Thanks()" ng-disabled="edit_type!=2">列印感謝狀</button>
        </caption>
        <thead>
            <tr>
                <th width="20%">訂購人</th>
                <th width="30%">福燈類型</th>
                <th width="30%">福燈位置</th>
                <th width="20%">單價</th>
                @*<th width="10%">排序設定</th>*@
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fd.Item">
                <td>{{item.member_name}}</td>
                <td>
                    <select ng-model="item.product_sn"
                            ng-options="m.product_sn as m.product_name for m in pds"
                            ng-change="ProductChange(item.product_sn)"
                            ng-disabled="edit_type==2"></select>
                </td>
                <td ng-hide="edit_type==2">
                    <select ng-model="item.light_site_id"
                            ng-options="m.light_site_id as m.light_name for m in lights" required></select>
                </td>
                <td ng-hide="edit_type==1">{{item.light_name}}</td>
                <td>{{item.price}}</td>
                @*<td>
                        <button type="button" ng-click="openSortData()">
                            檢視
                        </button>
                    </td>*@
            </tr>
        </tbody>
    </table>
    <span ng-repeat="m in mb.getMember_Detail">
        <input type="checkbox"
               ng-model="m.fortune_value"
               ng-true-value="{{m.member_detail_id}}"
               ng-false-value="0"
               ng-click="checkFortuneNum()" />
        {{m.member_name}}
    </span>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
    <div class="dialog-div ng-hide" ng-show="isShow">
        <table class="table-detail">
            <caption>
                家庭成員
                <button type="button" ng-click="closeSortData()">
                    關閉
                </button>
            </caption>
            <tr>
                <th width="25%">姓名</th>
                <th width="25%">排序</th>
            </tr>
            <tr ng-repeat="m in mb.getMember_Detail |orderBy:['-sort']">
                <td ng-if="m.fortune_value>0">{{m.member_name}}</td>
                <td ng-if="m.fortune_value>0">{{m.sort}}</td>
            </tr>
        </table>
    </div>
</script>
<script type="text/ng-template" id="dataEditSDLightOrders">
    <table class="table-detail">
        <caption>
            訂單明細資料填寫
            <button type="button" ng-click="ShowEditAddProduct()">新 增 明 細</button>
            <button type="submit">確　　認</button>
            <button type="button" ng-click="DownLoadExcel_Thanks()" ng-disabled="edit_type!=2">列印感謝狀</button>
        </caption>
        <thead>
            <tr>
                <th>會員</th>
                <th>產品</th>
                <th>單價</th>
                <th>檢視</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fd.Item">
                <td>{{item.member_name}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button type="button"
                            ng-click="ShowEditViewProduct(item.member_detail_id,item.product_sn)">
                        檢視
                    </button>
                </td>
                <td>
                    <button type="button"
                            ng-click="RemoveCart(item.member_detail_id,item.product_sn)"
                            ng-disabled="item.isOnOrder && allowReject==0 && isTodayOrder==false">
                        刪除
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">總計</td>
                <td>{{fd.total}}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="7" style="color:red;text-align:center; margin:0 auto;"><strong>訂單資料隔日後要刪除及退款統一經由會計處理，請香客找會計人員．</strong></td>
            </tr>
        </tfoot>
    </table>
    <!-- 子板面 產品明細維護-->
    <div name="frmCar" class="blue-form ng-hide" ng-show="isShowEditProduct">
        <div class="dialog-div">
            <table>
                <caption>
                    資料編輯
                    <button type="button" ng-click="SubmitCart()" ng-disabled="isViewWorking">新　增</button>
                    <button type="button" ng-click="CloseEditProduct()">關　閉</button>
                    <button type="button" ng-click="ShowOrderDetail()">查 去 年</button>
                </caption>
                <tr>
                    <th>
                        祈福姓名
                    </th>
                    <td>
                        <select ng-model="cart.member_detail_id"
                                ng-options="m.member_detail_id as m.member_name for m in mb.getMember_Detail" required></select>
                    </td>
                    <th>
                        祈福種類
                    </th>
                    <td>
                        <select ng-model="cart.product_sn"
                                ng-options="m.product_sn as m.product_name for m in pds" required></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福性別
                    </th>
                    <td>
                        男<input type="radio" ng-model="cart.gender" value="1" />
                        女<input type="radio" ng-model="cart.gender" value="2" />
                    </td>
                    <th>
                        單價
                    </th>
                    <td>
                        <input type="number"
                               ng-model="cart.price"
                               min="0"
                               required
                               ng-disabled="cart_price_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        農曆生日
                    </th>
                    <td colspan="3">
                        <input type="number" max="120" min="-50" ng-model="cart.LY" class="dateText" />年
                        <input type="number" max="12" min="1" ng-model="cart.LM" class="dateText" />月
                        <input type="number" max="31" min="1" ng-model="cart.LD" class="dateText" />日
                    </td>
                </tr>
                <tr>
                    <th>
                        出生時辰
                    </th>
                    <td>
                        <select ng-model="cart.born_time" ng-options="m.value as m.label for m in born_time"></select>
                    </td>
                    <th>
                        生肖
                    </th>
                    <td>
                        <select ng-model="cart.born_sign" ng-options="m as m + ' ' for m in born_sign"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福地址
                    </th>
                    <td colspan="3">
                        <input type="text" ng-model="cart.address" maxlength="64" />
                    </td>
                </tr>
                <tr>
                    <th>
                        電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.tel" maxlength="16" />
                    </td>
                    <th>
                        行動電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.mobile" maxlength="16" />
                    </td>
                </tr>
                <tr>
                    <th>
                        捐白米
                    </th>
                    <td>
                        <input type="number" placeholder="(斤)" min="0" ng-model="cart.race" ng-disabled="cart_race_disable" />
                    </td>
                    <th>
                        捐金牌
                    </th>
                    <td>
                        <input type="number" placeholder="(面)" min="0" ng-model="cart.gold" ng-disabled="cart_gold_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        點燈位置
                    </th>
                    <td>
                        {{cart.light_name}}
                    </td>
                    <th>
                        文疏梯次
                    </th>
                    <td>
                        <select ng-model="cart.manjushri"
                                ng-options="m.manjushri_id as m.set_date | date:'yyyy-MM-dd' for m in mjs"></select>
                    </td>
                </tr>
                <tr>
                    <th>去年點燈種類</th>
                    <td colspan="3">
                        <table class="table-detail">
                            <thead>
                                <tr>
                                    <th>產品</th>
                                    <th>點燈位置</th>
                                    <th>單價</th>
                                    <th>購買日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order_detail">
                                    <td>{{item.product_name}}</td>
                                    <td>{{item.light_name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.i_InsertDateTime | date: 'y/MM/dd a hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>
<script type="text/ng-template" id="dataEditMDLightOrders">
    <table class="table-detail">
        <caption>
            訂單明細資料填寫
            <button type="button" ng-click="ShowEditAddProduct()">新 增 明 細</button>
            <button type="submit">確　　認</button>
            <button type="button" ng-click="DownLoadExcel_Thanks()" ng-disabled="edit_type!=2">列印感謝狀</button>
        </caption>
        <thead>
            <tr>
                <th>會員</th>
                <th>產品</th>
                <th>單價</th>
                <th>檢視</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fd.Item">
                <td>{{item.member_name}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button type="button"
                            ng-click="ShowEditViewProduct(item.member_detail_id,item.product_sn)">
                        檢視
                    </button>
                </td>
                <td>
                    <button type="button"
                            ng-click="RemoveCart(item.member_detail_id,item.product_sn)"
                            ng-disabled="item.isOnOrder && allowReject==0 && isTodayOrder==false">
                        刪除
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">總計</td>
                <td>{{fd.total}}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="7" style="color:red;text-align:center; margin:0 auto;"><strong>訂單資料隔日後要刪除及退款統一經由會計處理，請香客找會計人員．</strong></td>
            </tr>
        </tfoot>
    </table>
    <!-- 子板面 產品明細維護-->
    <div name="frmCar" class="blue-form ng-hide" ng-show="isShowEditProduct">
        <div class="dialog-div">
            <table>
                <caption>
                    資料編輯
                    <button type="button" ng-click="SubmitCart()" ng-disabled="isViewWorking">新　增</button>
                    <button type="button" ng-click="CloseEditProduct()">關　閉</button>
                    <button type="button" ng-click="ShowOrderDetail()">查 去 年</button>
                </caption>
                <tr>
                    <th>
                        祈福姓名
                    </th>
                    <td>
                        <select ng-model="cart.member_detail_id"
                                ng-options="m.member_detail_id as m.member_name for m in mb.getMember_Detail" required></select>
                    </td>
                    <th>
                        祈福種類
                    </th>
                    <td>
                        <select ng-model="cart.product_sn"
                                ng-options="m.product_sn as m.product_name for m in pds" required></select>

                        <select ng-model="cart.light_site_id"
                                ng-options="m.light_site_id as m.light_name for m in lights" required></select>

                    </td>
                </tr>
                <tr>
                    <th>
                        祈福性別
                    </th>
                    <td>
                        男<input type="radio" ng-model="cart.gender" value="1" />
                        女<input type="radio" ng-model="cart.gender" value="2" />
                    </td>
                    <th>
                        單價
                    </th>
                    <td>
                        <input type="number"
                               ng-model="cart.price"
                               min="0"
                               required
                               ng-disabled="cart_price_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        農曆生日
                    </th>
                    <td colspan="3">
                        <input type="number" max="120" min="-50" ng-model="cart.LY" class="dateText" />年
                        <input type="number" max="12" min="1" ng-model="cart.LM" class="dateText" />月
                        <input type="number" max="31" min="1" ng-model="cart.LD" class="dateText" />日
                    </td>
                </tr>
                <tr>
                    <th>
                        出生時辰
                    </th>
                    <td>
                        <select ng-model="cart.born_time" ng-options="m.value as m.label for m in born_time"></select>
                    </td>
                    <th>
                        生肖
                    </th>
                    <td>
                        <select ng-model="cart.born_sign" ng-options="m as m + ' ' for m in born_sign"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福地址
                    </th>
                    <td colspan="3">
                        <input type="text" ng-model="cart.address" maxlength="64" />
                    </td>
                </tr>
                <tr>
                    <th>
                        電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.tel" maxlength="16" />
                    </td>
                    <th>
                        行動電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.mobile" maxlength="16" />
                    </td>
                </tr>
                <tr>
                    <th>
                        捐白米
                    </th>
                    <td>
                        <input type="number" placeholder="(斤)" min="0" ng-model="cart.race" ng-disabled="cart_race_disable" />
                    </td>
                    <th>
                        捐金牌
                    </th>
                    <td>
                        <input type="number" placeholder="(面)" min="0" ng-model="cart.gold" ng-disabled="cart_gold_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        點燈位置
                    </th>
                    <td>
                        {{cart.light_name}}
                    </td>
                    <th>
                        文疏梯次
                    </th>
                    <td>
                        <select ng-model="cart.manjushri"
                                ng-options="m.manjushri_id as m.set_date | date:'yyyy-MM-dd' for m in mjs"></select>
                    </td>
                </tr>
                <tr>
                    <th>去年點燈種類</th>
                    <td colspan="3">
                        <table class="table-detail">
                            <thead>
                                <tr>
                                    <th>產品</th>
                                    <th>點燈位置</th>
                                    <th>單價</th>
                                    <th>購買日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order_detail">
                                    <td>{{item.product_name}}</td>
                                    <td>{{item.light_name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.i_InsertDateTime | date: 'y/MM/dd a hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>
<script type="text/ng-template" id="dataEditWishLightOrders">
    <table class="table-detail">
        <caption>
            訂單明細資料填寫
            <button type="button" ng-click="ShowEditAddProduct()">新 增 明 細</button>
            <input type="checkbox"
                   ng-model="fd.is_light_serial" ng-true-value="true" ng-false-value="false">
            使用連續配位
            <button type="submit">確　　認</button>
            <button type="button" ng-click="DownLoadExcel_Thanks()" ng-disabled="edit_type!=2">列印感謝狀</button>
        </caption>
        <thead>
            <tr>
                <th>會員</th>
                <th>產品</th>
                <th>單價</th>
                <th>檢視</th>
                <th>刪除</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in fd.Item">
                <td>{{item.member_name}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button type="button"
                            ng-click="ShowEditViewProduct(item.member_detail_id,item.product_sn)">
                        檢視
                    </button>
                </td>
                <td>
                    <button type="button"
                            ng-click="RemoveCart(item.member_detail_id,item.product_sn)"
                            ng-disabled="item.isOnOrder && allowReject==0 && isTodayOrder==false">
                        刪除
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">總計</td>
                <td>{{fd.total}}</td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td colspan="7" style="color:red;text-align:center; margin:0 auto;"><strong>訂單資料隔日後要刪除及退款統一經由會計處理，請香客找會計人員．</strong></td>
            </tr>
        </tfoot>
    </table>
    <!-- 子板面 產品明細維護-->
    <div name="frmCar" class="blue-form ng-hide" ng-show="isShowEditProduct">
        <div class="dialog-div">
            <table>
                <caption>
                    資料編輯
                    <button type="button" ng-click="SubmitCart()" ng-disabled="isViewWorking">新　增</button>
                    <button type="button" ng-click="CloseEditProduct()">關　閉</button>
                    <button type="button" ng-click="ShowOrderDetail()">查 去 年</button>
                </caption>
                <tr>
                    <th>
                        祈福姓名
                    </th>
                    <td>
                        <select ng-model="cart.member_detail_id"
                                ng-options="m.member_detail_id as m.member_name for m in mb.getMember_Detail" required></select>
                    </td>
                    <th>
                        祈福種類
                    </th>
                    <td>
                        <select ng-model="cart.product_sn"
                                ng-options="m.product_sn as m.product_name for m in pds" required></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福性別
                    </th>
                    <td>
                        男<input type="radio" ng-model="cart.gender" value="1" />
                        女<input type="radio" ng-model="cart.gender" value="2" />
                    </td>
                    <th>
                        單價
                    </th>
                    <td>
                        <input type="number"
                               ng-model="cart.price"
                               min="0"
                               required
                               ng-disabled="cart_price_disable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        農曆生日
                    </th>
                    <td colspan="3">
                        <input type="number" max="120" min="-50" ng-model="cart.LY" class="dateText" />年
                        <input type="number" max="12" min="1" ng-model="cart.LM" class="dateText" />月
                        <input type="number" max="31" min="1" ng-model="cart.LD" class="dateText" />日
                    </td>
                </tr>
                <tr>
                    <th>
                        出生時辰
                    </th>
                    <td>
                        <select ng-model="cart.born_time" ng-options="m.value as m.label for m in born_time"></select>
                    </td>
                    <th>
                        生肖
                    </th>
                    <td>
                        <select ng-model="cart.born_sign" ng-options="m as m + ' ' for m in born_sign"></select>
                    </td>
                </tr>
                <tr>
                    <th>
                        祈福地址
                    </th>
                    <td colspan="3">
                        <input type="text" ng-model="cart.address" maxlength="64" />
                    </td>
                </tr>
                <tr>
                    <th>
                        電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.tel" maxlength="16" />
                    </td>
                    <th>
                        行動電話
                    </th>
                    <td>
                        <input type="text" ng-model="cart.mobile" maxlength="16" />
                    </td>
                </tr>
                <tr>
                    <th>
                        點燈位置
                    </th>
                    <td colspan="3">
                        {{cart.light_name}}
                    </td>
                </tr>
                <tr>
                    <th style="width:15%">
                        願望
                    </th>
                    <td colspan="3">
                        <span ng-repeat="m in wishs">
                            <input type="checkbox"
                                   ng-model="m.wish_checked"
                                   ng-true-value="1"
                                   ng-false-value="0"
                                   ng-disabled="m.wish_checked==0 && wishlen==@CommWebSetup.WishLimit"
                                   ng-click="checkWishList($index)" />
                            {{m.wish_name}}
                            <br ng-if="($index+1)%6==0" />
                            <input style="width:30%;" type="text" ng-if="m.can_text" ng-change="changeWishText(m.wish_id,m.wish_text)" ng-model="m.wish_text" ng-disabled="m.wish_checked==0" maxlength="16" />
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="width:15%">
                        備註
                    </th>
                    <td colspan="3">
                        <select ng-model="wishmemo_no" ng-change="chgWishMemo()" ng-options="m.value as m.label for m in wishmemo_list"></select>
                        <input type="text" ng-model="cart.wish_memo" maxlength="500" />
                    </td>
                </tr>
                <tr>
                    <th>去年點燈種類</th>
                    <td colspan="3">
                        <table class="table-detail">
                            <thead>
                                <tr>
                                    <th>產品</th>
                                    <th>點燈位置</th>
                                    <th>單價</th>
                                    <th>購買日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in order_detail">
                                    <td>{{item.product_name}}</td>
                                    <td>{{item.light_name}}</td>
                                    <td>{{item.price}}</td>
                                    <td>{{item.i_InsertDateTime | date: 'y/MM/dd a hh:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <iframe class="ng-hide" ng-src="{{downloadExcel}}"></iframe>
</script>